* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;

  background: rgb(0, 44, 98);
  background: -moz-linear-gradient(
    41deg,
    rgba(0, 44, 98, 1) 0%,
    rgba(0, 0, 0, 0.958420868347339) 31%,
    rgba(0, 0, 0, 1) 67%,
    rgba(0, 0, 82, 1) 100%
  );
  background: -webkit-linear-gradient(
    41deg,
    rgba(0, 44, 98, 1) 0%,
    rgba(0, 0, 0, 0.958420868347339) 31%,
    rgba(0, 0, 0, 1) 67%,
    rgba(0, 0, 82, 1) 100%
  );
  background: linear-gradient(
    41deg,
    rgba(0, 44, 98, 1) 0%,
    rgba(0, 0, 0, 0.958420868347339) 31%,
    rgba(0, 0, 0, 1) 67%,
    rgba(0, 0, 82, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002c62",endColorstr="#000052",GradientType=1);

  filter: drop-shadow(0 0 0.75rem crimson);
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.links {
  color: #61dafb;
}

.links:hover {
  color: #ffffff;
  padding: 5px;
  border-radius: 0%;
  filter: drop-shadow(0 0 0.75rem crimson);
}

.proposal {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 50vw;
  margin: 16px;
  float: left;
}
.proposal h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.proposal p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.proposal button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #00c8ff;
  cursor: pointer;
}

form.create-proposal {
  position: relative;
  width: 50vw;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-proposal input,
form.create-proposal textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-proposal button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.allproposals {
  display: grid;
  justify-content: center;
  max-height: 60vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.allproposals::-webkit-scrollbar {
  width: 10px;
}
.allproposals::-webkit-scrollbar * {
  background: transparent;
}
.allproposals::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.1) !important;
  border-radius: 100%;
}

.h1-proposals {
  text-align: center;
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(0, 174, 255), rgb(146, 0, 71));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  margin-bottom: 30px;
}

.vote-proposal-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.vote-proposal {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 35vw;
}

.vote-proposal-owner {
  display: flex;
  justify-content: space-between;
}

.dashboard {
  display: grid;
  justify-content: center;
}
